<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <main>
        <div class="body">
            <div class="about">
                <h2 class="body-heading">Welcome to MY Website</h2>
                <p class="body-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum asperiores necessitatibus sit alias, impedit corrupti repudiandae in quisquam nihil autem veniam sunt itaque hic ducimus, numquam dolorem quos quasi?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio impedit sint magni eius voluptatum neque dolorum reprehenderit voluptas cum amet.</p>
            </div>
            
        </div>
    </main>
</body>

</html>