<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <main>
        <div class="body">
            <div class="about">
                <h2 class="body-heading">Welcome to SECRET page</h2>
                <p class="body-para">This is a secret page which only loged in user can access</p>
            </div>
            
        </div>
    </main>
</body>

</html>